/* 하단 퀵메뉴 */
/* 2022.03.03 결제버튼 / 하단푸터 이슈 수정*/
/* .bottom_menu {position:fixed;bottom:0;left:0;width:100%;background:#FFFFFF;padding:0 1rem;z-index:999;} */
.bottom_menu {position:sticky;bottom:0;left:0;width:100%;background:#FFFFFF;padding:0 1rem;z-index:999;}
.bottom_menu ul {display:flex;}
.bottom_menu ul li {flex:1;text-align:center;}
.bottom_menu ul li svg {height:1.2rem;}
.bottom_menu ul li a {display:block;padding:1.2rem 0.5rem;}
.bottom_menu ul li span {display:block;font-size:0.7rem;font-weight:500;color:#B4B4B4;}

.bottom_menu ul li.on {border-top:2px solid #000;}
.bottom_menu ul li.on span {color:#000;}

/* 아이콘 색 */
.bottom_menu ul li svg>g {fill:#B4B4B4;stroke:#B4B4B4;}
.bottom_menu ul li.on svg>g {fill:#000;stroke:#000;}