
@include('user.header')
    
    <!-- header -->
    <header id="header">
        <!-- 뒤로가기 버튼 -->
        <button class="back" onclick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.705" height="24" viewBox="0 0 24.705 24">
                <g id="back_arrow" transform="translate(-22.295 -60)">
                    <rect id="사각형_207" data-name="사각형 207" width="24" height="24" transform="translate(23 60)"
                        fill="none" />
                    <g id="그룹_389" data-name="그룹 389" transform="translate(-0.231)">
                        <g id="그룹_388" data-name="그룹 388">
                            <line id="선_29" data-name="선 29" x2="22.655" transform="translate(23.845 72)" fill="none"
                                stroke="#1d1d1b" stroke-miterlimit="10" stroke-width="1" />
                            <path id="패스_174" data-name="패스 174" d="M3382.394,1143.563l-7.163,6.331"
                                transform="translate(-3352 -1077.894)" fill="none" stroke="#000" stroke-linecap="square"
                                stroke-width="1" />
                            <path id="패스_175" data-name="패스 175" d="M3375.231,1143.563l7.163,6.331"
                                transform="translate(-3352 -1071.563)" fill="none" stroke="#000" stroke-linecap="square"
                                stroke-width="1" />
                        </g>
                    </g>
                </g>
            </svg>
        </button>
        <!-- page title -->
        <div class="title">
            <span>회원가입</span>
        </div>
    </header>

    <section id="signUp">
        <form action="signup3.html" method="post">
            {{ csrf_field() }}
            <!-- id -->
            <div>
                <!-- 22.03.10 수정 (label -> h2) -->
                <!-- <label for="id">아이디(휴대폰 번호)</label> -->
                <h2>아이디(휴대폰 번호)</h2>
                <input type="text" name="id" id="id" placeholder="휴대폰 번호를 입력해주세요." pattern="[0-9]{3}[0-9]{4}[0-9]{4}" required>

                <!-- 형식과 다르거나 중복 됐을 때 나오는 오류메시지 -->
                <span id="id_error1">올바른 휴대폰 번호를 입력해주세요.</span>
                <!-- 22.03.09 수정 (가입되어 있을때 나오는 오류메시지) -->
                <!-- <span id="id_error2">이미 가입되어있는 휴대폰 번호입니다.</span> -->
            </div>
            <!-- password -->
            <div>
                <!-- 22.03.10 수정 (label -> h2) -->
                <!-- <label for="pw">비밀번호</label> -->
                <h2>비밀번호</h2>
                <input type="password" name="pw" id="pw_1" placeholder="비밀번호를 입력해주세요." pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,20}" required>

                <!-- 형식과 다를 때 나오는 오류메시지 -->

                <!-- 22.03.10 수정 (id 중복 수정)-->
                <!-- <span id="id_error1">영문, 숫자, 특수문자를 포함한 8~20자로 설정해주세요.</span> -->
                <span id="pw_error1">영문, 숫자, 특수문자를 포함한 8~20자로 설정해주세요.</span>
            </div>
            <!-- password check -->
            <div>
                <!-- 22.03.10 수정 (label -> h2) -->
                <!-- <label for="pw">비밀번호 확인</label> -->
                <h2>비밀번호 확인</h2>
                <input type="password" name="pw" id="pw_2" placeholder="비밀번호를 입력해주세요." required>

                <!-- 비밀번호가 일치하지 않을 때 나오는 오류메시지 -->
                <!-- 22.03.10 수정 (id 중복 수정)-->
                <!-- <span id="id_error1">비밀번호가 일치하지 않습니다.<span> -->
                    <span id="pw_error2">비밀번호가 일치하지 않습니다.<span>
            </div>

            <!------------ 2차버전 추가 ------------>
            <div>
                <h2>이름</h2>
                <!-- 22.03.15 required 추가 -->
                <input type="text" name="name" id="name" placeholder="이름을 입력해주세요." required>
            </div>
            <!------------------------------------>

            <!-- 다음 버튼 -->
            <button type="submit" id="next_btn" disabled>다음</button>
        </form>
    </section>

    <script>
        function okNext(){
            $('#next_btn').removeAttr('disabled');
        }
    </script>

    @include('user.footer')
</body>
</html>            