
@include('user.header')
    
    <!-- header -->
    <header id="header">
        <!-- 뒤로가기 버튼 -->
        <button class="back" onclick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.705" height="24" viewBox="0 0 24.705 24">
                <g id="back_arrow" transform="translate(-22.295 -60)">
                    <rect id="사각형_207" data-name="사각형 207" width="24" height="24" transform="translate(23 60)"
                        fill="none" />
                    <g id="그룹_389" data-name="그룹 389" transform="translate(-0.231)">
                        <g id="그룹_388" data-name="그룹 388">
                            <line id="선_29" data-name="선 29" x2="22.655" transform="translate(23.845 72)" fill="none"
                                stroke="#1d1d1b" stroke-miterlimit="10" stroke-width="1" />
                            <path id="패스_174" data-name="패스 174" d="M3382.394,1143.563l-7.163,6.331"
                                transform="translate(-3352 -1077.894)" fill="none" stroke="#000" stroke-linecap="square"
                                stroke-width="1" />
                            <path id="패스_175" data-name="패스 175" d="M3375.231,1143.563l7.163,6.331"
                                transform="translate(-3352 -1071.563)" fill="none" stroke="#000" stroke-linecap="square"
                                stroke-width="1" />
                        </g>
                    </g>
                </g>
            </svg>
        </button>
        <!-- page title -->
        <div class="title">
            <span>회원가입</span>
        </div>
    </header>

    <section id="signUp">
        <form action="/terms/agreement" method="post" onsubmit="checkValidation()">
            {{ csrf_field() }}

            <!-- 성별 -->
            <div class="sex_select">
                <h2>성별</h2>
                <input type="radio" name="sex" value="w" id="w" checked>
                <label for="w">여자</label>
                <input type="radio" name="sex" value="m" id="m">
                <label for="m">남자</label>
            </div>

            <!-- 최초추천샵 -->
            <div class="shop_select">
                <h2>최초추천샵</h2>
                <div class="select_wrap">
                    <div class="select_box">
                        <span>최초추천샵 선택하기</span>
                        <img src="./img/arrow_bottom.svg" alt="">
                    </div>
                    <ul class="option">
                        <li>포레스타 블랙</li>
                        <li>바라는 네일</li>
                        <li>딥포커스 검안센터</li>
                        <li>발몽스파</li>
                        <li>미니쉬 도수</li>
                        <li>미니쉬 스파</li>
                        <li>미니쉬 치과병원</li>
                        <li>기타</li>
                    </ul>
                </div>
            </div>

            <!-- 추천인코드 -->
            <div>
                <h2>추천인코드(선택)</h2>
                <!-- 22.03.15 수정 -->
                <!-- <input type="tel" placeholder="추천인 휴대폰번호를 입력해주세요."> -->
                <input type="text" placeholder="추천인 휴대폰번호를 입력해주세요." pattern="[0-9]{3}[0-9]{4}[0-9]{4}">
            </div>


            <!-- 다음 버튼 -->
            <!-- 22.03.11 disabled 추가 -->
            <!-- <button type="submit" id="next_btn">다음</button> -->
            <button type="submit" id="next_btn" disabled>다음</button>
        </form>
    </section>

    <script>
        function okNext(){
            $('#next_btn').removeAttr('disabled');
        }
    </script>
    @include('user.footer')
</body>
</html>            